<%= image_tag "https://maps.googleapis.com/maps/api/staticmap?size=400x400&sensor=false&zoom=15&maptype=roadmap&markers=#{@listing.latitude}%2C#{@listing.longitude}&key=AIzaSyBOfweYivN7fhM3GPbKfkWq6OJIIm1BSu8" %>


<h2>Is this Address Correct? <%= @listing.address %></h2>

